/* Specificity Exercise */

/* X - num of id selectors | Y - num of class, pseudo class, and attribute selectors , Z - num of type and pseudo-element selectors | Z - element selector and pseudo element selector */

/*  Specificity: 0-1-2 
  nav =  1 element
  .list-item = 1 class
  a = 1 element
*/
nav .list-item > a {
  color: var(--purple);
}

/* Specificity: 1-0-1
  #main = 1 id
  ::first-letter = 1 pseudo-element
*/
#main::first-letter {
  color: var(--purple);
}

/* Specificity: 0-1-1
  input = 1 element
  [type] = 1 attribute selector
*/
input[type] {
  color: var(--purple);
}

/* Specificity: 0-1-2
  section = 1 element
  .main = 1 class
  ::first-line = 1 pseudo-element
*/
section .main::first-line {
  color: var(--purple);
}

/* Specificity: 1-2-4
  nav = 1 element
  ul.menu = 1 element + 1 class
  li#first = 1 element + 1 ID
  a:not([class="visited"]) = 1 element + 1 attribute
*/
nav ul.menu li#first a:not([class="visited"]) {
  color: var(--purple);
}

/* Specificity: 0-0-10
  div = 1 element
  ol = 3 elements
  li = 4 elements
  ul = 2 elements
  a = 1 element
*/
div ol li ul li ol li ul li a {
  color: var(--purple);
}
